---
navPages:
    - title: Home
      url: /index.html
    - title: Ice Cream and Frozen Treats!
      url: /ice-cream
    - title: Other Sweets!
      url: /other-sweets
    - title: About
      url: /about
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,500;1,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/ic.css">
    <title>Daryl's | {{name}}</title>
    
</head>
<body>
    <header>    
      <img src="/images/logo.svg">
      <p class="logoText">Daryl's!</p>
      <ul>
        {%- for entry in navPages %}
          <li {% if entry.title == name %} class="selected" {% endif %} >
            <a href="{{ entry.url }}">{{ entry.title }}</a>
          </li>
        {%- endfor %}
      </ul>
    </header>

    <main>
       {{ content }} 
    </main>
</body>
</html>