:root {
    --vanilla:hsl(45, 100%, 89%);
    --strawberry:hsl(340, 75%, 44%);
    --chocolate:hsl(25, 100%, 18%);
}
  
body {
    font-family: Arial, Helvetica, sans-serif;
}

h4{
    font-weight:100;
}

nav ul, nav{
    list-style: none;
    display: flex;
    justify-content: left;
    gap: 2em;
}

nav {
    border: .1em solid black;
    background:var(--vanilla);
    padding-left: 2em;
}

nav ul{
    align-items: center;
}

nav ul li a{
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 500;
    text-decoration: none;
    color:var(--strawberry);
    font-size: 18px;
}



li.selected{
    text-decoration: underline;
    font-style: italic;
}

.logoText{
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 800;
    font-size:36px;
    font-style: italic;
    color:black;
}