/*Home*/

#page_home{
    display:grid;
    width: 100%;
    height: 100%;
    grid-template: 
              "g g g" 67.5vh
              "i o a" 22.5vh / 32vw 32vw 32vw;
      
}

#gallery{
    grid-area: g;
}

#icaft{
    grid-area: i;
}

#about{
    grid-area: a;
}

#other{
    grid-area: o;
}

/*Ice Cream and Frozen Treats*/

#page_ice_cream{
    display:grid;
    width: 100%;
    height: 100%;
    grid-template: 
              "i r s" 60vh
              "f f f" 30vh / 48vw 24vw 24vw;
}

#iceCream{
    grid-area: i;
}

#frozenYogurt{
    grid-area: r;
}

#shorbetSherbet{
    grid-area: s;
}

#liveList{
    grid-area: f;
}

/*Other Sweets*/

#page_other_sweets{
    display:grid;
    width: 100%;
    height: 100%;
    grid-template: 
              "c r r r" 45vh
              "s s s p" 45vh / 24vw 24vw 24vw 24vw;
}

#iceCreamCakes{
    grid-area:c;
}

#remoteIceCream{
    grid-area:r;
}
/*
#hotFudge{
    grid-area:f;
}

#hotChoco{
    grid-area:m;
}
*/
#store{
    grid-area:s;
}

#pies{
    grid-area:p;
}