/*Home*/

#page_home{
    display:grid;
    width: 100%;
    height: 100%;
    grid-template: 
              "g g g" 75vh
              "i o a" 25vh / 31vw 31vw 31vw;
      
}

#gallery{
    grid-area: g;
}

#icaft{
    grid-area: i;
}

#about{
    grid-area: a;
}

#other{
    grid-area: o;
}

/*Ice Cream and Frozen Treats*/

#page_ice_cream{
    display:grid;
    width: 100%;
    height: 100%;
    grid-template: 
              "g g g" 75vh
              "i o a" 25vh / 31vw 31vw 31vw;
}

#gallery{
    grid-area: g;
}

#icaft{
    grid-area: i;
}

#about{
    grid-area: a;
}

#other{
    grid-area: o;
}